*.o
*.a
moc_*.*
ui_*.h
Makefile
Makefile.*
*.swp
*.bak
.qmake.stash
trunk/echoes/RPMBUILD
trunk/echoes/echoes.pro.*
echoes-*
build-echoes-Desktop_Qt_5_12_1_MinGW_64_bit-Debug/*
trunk/echoes/release/*
trunk/echoes/debug/*
*.exe
qrc_graphic.cpp
echoes_plugin_import.cpp
object_script.*


