[Desktop Entry]
Encoding=UTF-8
Name=Echoes
Categories=Qt;Science;Astronomy
GenericName=Echoes
MimeType=
Exec=echoes -n3
Icon=echoes_xpm32
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-KDE-AuthorizeAction=shell_access

